page-home {
    .button-full-md {
        background: $fuchsia;
        color: white;
        text-transform: uppercase;
    }
    .item-select .label-md,
    .list-header-md {
        color: $fuchsia;
        font-weight: 700;
    }
    
}
